<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="AccountsEntities" connectionString="metadata=res://*/AccountsModel.csdl|res://*/AccountsModel.ssdl|res://*/AccountsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N8D9IUK\SQLEXPRESS;initial catalog=Accounts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="AccountsEntities" connectionString="metadata=res://*/Model.AccountsModel.csdl|res://*/Model.AccountsModel.ssdl|res://*/Model.AccountsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RU-PC587\SQLEXPRESS;initial catalog=Accounts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->
    <add name="AccountsEntities" connectionString="metadata=res://*/AccountsModel.csdl|res://*/AccountsModel.ssdl|res://*/AccountsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=152.141.92.161\SQLEXPRESS;initial catalog=Accounts;User ID=RomanOsipin;Password=qwerty;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <!--<add name="MCDGUIAccounts.Properties.Settings.AccountsConnectionString"
      connectionString="Data Source=152.141.92.161\SQLEXPRESS;Initial Catalog=Accounts;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <modules>
    <module assemblyFile="AccountsWork.Accounts.dll" moduleType="AccountsWork.Accounts.AccountsModule, AccountsWork.Accounts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AccountsModule" startupLoaded="true" />
    <module assemblyFile="AccountsWork.Reports.dll" moduleType="AccountsWork.Reports.ReportsModule, AccountsWork.Reports, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ReportsModule" startupLoaded="true" />
  </modules>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>